<div id="about-wrap" class="content-wrap">

    <div id="about" class="text-content blog-items">

        <div class="site-intro">

            <h1>
                About me
            </h1>

            <br/>

            <a href="#!/">
                <img class="img-circle" src="images/joao80.png" alt=""/>
            </a>

            <p class="site-intro__intro-text">
                Hi, my name Joao. I love taking travelling, programming and sports. I also enjoy coffee very much. Thank you for visiting my blog.
            </p>

            <span class="site-intro__separator">
                <i class="fa fa-2x fa-list">

                </i>
            </span>

        </div>

        <div class="container text-center">

            <p style="max-width:90%;margin:auto;">
                My name is Joao Garin I am a 28 years old from Lisbon Portugal. I am a web developer with +5 years experience all of them working with the web technologies such as HTML5,Javascript, CSS3, Responsive Design or Canvas animations and some back-end programming (Java and .NET) as well. I have a degree in Computer Science and Business in ISCTE a very well rated University from Lisbon. My professional route started at the very end of my Degree where I started working for the multinacional firm Accenture. After 2 years I founded a Web development agency called Wezards. In August 2013 I moved to Vienna (Austria) and started working as a Web developer for Cbased - Community Inovation Systems.
            </p>

            <br/>

            <div>
                <div class="row" style="max-width:90%;margin:auto;">
                    <div class="col-md-4">
                        <h4>
                            Front end development
                        </h4>
                        <br/>
                        <i class="fa fa-code fa-3x">

                        </i>
                        <br/>
                        <br/>
                        <p>
                            I do front end development using AngularJs, Javascript, PHP with Drupal and setting up webservices
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>
                            Drupal
                        </h4>
                        <br/>
                        <i class="fa fa-drupal fa-3x">

                        </i>
                        <br/>
                        <br/>
                        <p>
                            I do front end development using AngularJs, Javascript, PHP with Drupal and setting up webservices
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>
                            HTML / SASS / Mobile
                        </h4>
                        <br/>
                        <i class="fa fa-html5 fa-3x">

                        </i>
                        <br/>
                        <br/>
                        <p>
                            I do front end development using AngularJs, Javascript, PHP with Drupal and setting up webservices
                        </p>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <hr/>
            <br/>
            <br/>

        </div>



    </div>
</div><!-- /content-wrap -->