<div id="home-wrap" class="content-wrap">
    <!--<div class="content-wrap__content">

        <div id="wrap" class="wrap">
            <div id="mockup" class="mockup">
                <img class="mockup__img" src="images/mockup4.jpg" />
                <div class="mobile">
                    <ul id="slideshow-1" class="slideshow">
                        <li class="slideshow__item"><img src="images/small/1.png"/></li>
                        <li class="slideshow__item"><img src="images/small/2.png"/></li>
                        <li class="slideshow__item"><img src="images/small/3.png"/></li>
                        <li class="slideshow__item"><img src="images/small/4.png"/></li>
                    </ul>
                </div>
                <div class="screen">
                    <ul id="slideshow-2" class="slideshow">
                        <li class="slideshow__item current"><img src="images/large/6.png"/></li>
                        <li class="slideshow__item"><img src="images/large/2.png"/></li>
                        <li class="slideshow__item"><img src="images/large/3.png"/></li>
                        <li class="slideshow__item"><img src="images/large/4.png"/></li>
                    </ul>
                </div>
                <header class="slideshow-header">
                    <h1> <span>{{theme_info.catchy}}</span>{{theme_info.name}} <i>{{theme_info.description}}<br/><br/> <a href="{{theme_info.link}}">{{theme_info.link_text}}</a></i>

                    </h1>

                </header>

                <div id="go_down_slideshow">

                    <a id="go_down_slideshow_button" data-ng-click="gotoBlogHome()">
                        <i class="fa fa-2x fa-arrow-down">

                        </i>
                    </a>

                </div>
            </div>
        </div>

    </div>-->

    <div class="text-content blog-items" data-ng-controller="BlogCtrl">

        <div class="site-intro">

            <a href="#/">
                <img alt="logo_dark" src="images/logo_green.png"/>
            </a>

            <p class="site-intro__intro-text">
                Hi, my name Joao. I love taking travelling, programming and sports. I also enjoy coffee very much. Thank you for visiting my blog.
            </p>

            <span class="site-intro__separator">
                <i class="fa fa-2x fa-list">

                </i>
            </span>

        </div>

        <div class="loading-spinner" ng-hide="Feeds.posts.length">
            <div class="loading-spinner__wrap-spinner">
                <div class="loading outer">
                    <div class="loading inner"></div>
                </div>
            </div>
        </div>

        <div class="container blog-list">

            <input type="text" ng-show="Feeds.posts.length" class="form-control" ng-model="searchText" placeholder="Type to search here">

            <div data-ng-repeat="Feed in Feeds.posts | filter:searchText">

                <div class="blog-items__container__blog-item">

                    <p class="text-muted">
                        Post on : {{Feed.created}} by Joao Garin
                    </p>

                    <h1 class="blog-title">
                        {{Feed.title}}
                    </h1>

                    <div ng-bind-html="Feed.image_string">

                    </div>

                    <p class="post-body" ng-bind-html="Feed.body">

                    </p>

                    <div class="full-post">
                        <a class="btn btn-primary" href="#!/blog/{{Feed.path}}">Read full post</a>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div><!-- /content-wrap -->